body {
	font-family:'Lato', sans-serif;
	color: #747704;
	font-weight: 300;
}
.text-muted {
	color: #BCBBBB;
}
.text-thin {
	font-weight: 100;
}
.title-super {
	font-size: 60px;
}
.title-logo {
	margin-top: 20px;
}
.col-md-4 h2{
	text-transform: uppercase;
}
.col-md-4 p {
	color: #BCBBBB;
}
hr {
	color: #BCBBBB;
	background-color: #BCBBBB;
	height: 3px;
}
